// Background Image
.header {
    background: #151515 url('../images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

// Pseudo selector after, creates a ghost element, it's necessary to add content, leave it blank to make an overlay layer to apply transparency
.header::after {
    content: '';
    position: absolute; // in relation with the header tag (position-relative)
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

// This z-index makes the position-relative text-container be on top of the header:after that make the darken effect on the background image
.header .text-container {
    z-index: 10;
}

// Change the font for the roles class
.header .roles {
    font-family: 'lora-regular', serif;
}

// Social Icons
.header .social {
    bottom: 50px;
}

// About Section
.about-content {
    flex-direction: column;
}

// About image size 
.about-img {
    width: 200px;
}

// Project Section transition when we go over an image in the projects
.project:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

// Services Section, same as the Header Section, background image in the section using pseudoclass after and z-index
.services {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .services::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .services .container {
    z-index: 10;
  }


// Small Screens Format

@media (max-width: 767px) {
    // Social Icons
    .header .social i {
      font-size: 30px;
    }
  
    // roles font
    .header .roles {
      font-size: 18px !important;
    }

    // Stats Section in small screens, change the border right for border bottom and change margins and padding
    .stats .stat {
        border-right: 0 !important;
        margin-bottom: 40px;
        border-bottom: var(--bs-dark) solid 1px;
        padding-bottom: 20px;
    }
}